@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poppins:ital,wght@0,400;0,500;0,600;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headingFont:  'Abhaya Libre', serif;
    --paragrapghFont:'Poppins', sans-serif;
}

header {
    padding: 2rem 1.5rem;
}

.flex {
    display: flex;
}

.delivery {
    background-color: #FCC7C3;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 2.5rem;
    width: 16rem;
}

.delivery p{
    padding-right: 1rem;
    color: #524439;
    font-size: 13px;
}

p {
    font-family: var(--paragrapghFont);
    color: grey;
    font-weight: 400;
    font-size: 14px;
}

header h1 {
    font-size: 3rem;
    margin: 0.9rem 0 1rem;
}

 h1 {
    font-family: var(--headingFont);
    color: #292019;
    font-weight: 800;
    line-height: 0.9;
}

.description {
    font-weight: 500; 
}

#add-to-cart {
    background-color: #B91122;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: 6rem;
    font-size: 12px;
    font-family: var(--paragrapghFont);
    font-weight: 400;
    margin-right: 1rem;
}

.video-wrap {
    align-items: center;
}

.video-wrap p {
    font-family: var(--paragrapghFont);
    font-weight: 500;
    color: grey;
    font-size: 12px;
}

.video-wrap img {
    width: 2.5rem;
    margin-right: 0.5rem;
}

.cta {
    align-items: center;
    margin: 1rem 0;
}

#home-product,
.product-photo{
    height: auto;
    width: 85%;
}

#home-product, 
.details,
.product-photo{
    display: block;
    margin: auto;
}

.details {
    background-color: #FFF8E7;
    padding: 2.5rem;
    border-radius: 10px;
    width: 13rem;
}

.details-p {
    font-family: var(--paragrapghFont);
    color: grey;
    font-size: 14px;
}

.details h2, 
.quantity {
    font-family: var(--headingFont);
    font-weight: 800;
}

.inner-details {
    margin: 2rem 0;
}

.arrow-wrap {
    border: 1px solid #392529;
    border-radius: 50px;
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.best {
    text-align: center;
    font-size: 2.5rem;
}

.products-info {
    padding: 3rem 1.5rem;
}

.products-info>div {
    margin: 2rem 0;
}

.info {
    margin: 1rem 0 0.5rem;
}

.product1 {
    width: 60%;
    margin-bottom: 1rem;
}

.load-more {
    color: #2C3538;
}

.products-info h2 {
    font-size: 1.9rem;
    font-family: var(--headingFont);
}

.center-grid {
    display: flex;
    justify-content: center;
}

.pie-wrap {
    align-items: center;
}

.choose-wrap {
    margin-bottom: 2rem;
}

.choose-wrap p {
    font-style: italic;
}

.choose-wrap h3 {
    font-family: var(--headingFont);
    font-size: 1.8rem;
}

#ph {
    font-weight: 600;
    color: #242424;
    margin-top: 1rem;
}

.image-pattern {
    width: 100%;
    margin-bottom: 2rem;
}

#products {
    padding: 6rem 1.5rem;
}

#products p {
    color: #646464;
}

#products h4 {
    font-family: var(--headingFont);
    color: #1b1b1b;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.learn-arrow{
    margin-top: 1.5rem;
}

.learn-arrow p {
    color: #F93801 !important;
    margin-left: 1rem;
    font-weight: 500;
}